body {
  background-color: #444;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Quicksand";
  padding-top: 5%;
  word-wrap: break-word;
}

.logo {
  width: 240px;
  height: 150px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #fff;
  padding: 10%;
  margin: 2%;
}

.Transaction {
  padding: 5%;
}

.Blockchain,
.ConductTransaction,
.TransactionPool {
  margin: 10%;
  margin-top: 5%;
}

a {
  color: #e66;
  text-decoration: none;
}

a:hover {
  color: rgb(218, 54, 54);
  text-decoration: none;
}

input,
button {
  color: black;
}
